@charset "UTF-8";

/* mobilie frist */

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root{

    --ramonroxo: #5E2C81
}

body{

    background-color: var(--ramonroxo);
}

.image{

    background-image:url(../image/pexels-dominika-roseclay-2112032\ \(1\).jpg);
    height: 200px;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    
   
    
}


.conteudo{

    padding-left: 5px;
    padding-right: 5px;
}


main{
    
    width: 75vw; 
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
    background-color: white;
    border-radius: 20px;
    
    
    

    
}

h1 {

    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    margin-top: 15px;
    font-weight: bolder;
}

p{
    text-align: justify;
    font-size: 12px;
 
}

.paragrafo{

    
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

form{

    padding: 10px;
    box-sizing: border-box;


}

#idsenha , #idmail{

    position: absolute;
    width: calc(100% - 40px);
    margin: 0px 0px;
    height: 37px;
    border-radius: 10px;
    right: 1px;
    top:1.4px;
    border: none;
    background-color: #6ae2dad7;
    

}

#idmail , #idsenha:focus-within{

    background-color: white;
}





#botao-entrar , #botao-senha{

   margin-top: 10px; 
   border: none;
   width: 100%;
   padding:10px 0px;
   border-radius: 5px;
   color: white;
   


   
}


#botao-entrar{

    background-color: #4DA59F;
    cursor: pointer;
    
}

#botao-entrar:hover{

    background-color:#2a5855 ;
    transition-duration: 200ms;
}

#botao-senha{

    color: #4DA59F;
    border: 0.2px solid #4DA59F;
    cursor: pointer;
    
}


#bloco-mail,#bloco-senha{

margin-bottom: 6px;
background-color: var(--ramonroxo);
height: 39px;
border-radius: 10px;
position: relative;




}

.bloco-entrar , .bloco-esqueci{

   
   
    text-align: center;  

}

.bloco-esqueci{

    position: relative;
    
   
}






span{
    position: absolute;
    top: 8px;
    left: 8px;
    width: 27px;
    color: white;

}

#icon-mail{

    color:black;
    position: absolute;
     
}

input[type = "email"] , input[type="password"]{

    padding-left: 10px;
    


}


